#--------------------------------------------
# 完全模式编排文件，下载方式：
#
# wget https://r.datarc.cn/deploy/complex/docker-compose.yml
#--------------------------------------------
version: '3.5'

services:
  query_redis:
    image: redis:6-alpine
    restart: always
    command: [ "redis-server", "--save", '""', "--appendonly", "no" ]
  query_postgres:
    image: postgres:13-alpine
    restart: always
    env_file: .env
    volumes:
      - ./query_data:/var/lib/postgresql/data
  query_web:
    image: "${QUERY_IMAGE}"
    restart: always
    depends_on:
      - query_redis
      - query_postgres
    env_file: .env
    volumes:
      - ./query.py:/home/code/luming/configs.py
      - ./data:/home/code/data
      - /tmp:/tmp
    ports:
      - 8002:8000
    command: "gunicorn luming.wsgi -c gunicorn.conf.py"
  query_beat:
    image: "${QUERY_IMAGE}"
    restart: always
    depends_on:
      - query_redis
      - query_postgres
    env_file: .env
    volumes:
      - ./query.py:/home/code/luming/configs.py
      - /tmp:/tmp
    command: "celery --app=luming beat --loglevel=INFO"
  query_worker:
    image: "${QUERY_IMAGE}"
    restart: always
    depends_on:
      - query_redis
      - query_postgres
    env_file: .env
    volumes:
      - ./query.py:/home/code/luming/configs.py
      - ./data:/home/code/data
      - /tmp:/tmp
    command: "celery --app=luming worker --loglevel=INFO --concurrency=2 --events"
  go-ws:
    image: "${WS_IMAGE}"
    restart: always
    env_file: .env
    volumes:
      - ./dicts:/home/ubuntu/dicts
      - /tmp:/tmp
  core_redis:
    image: redis:6-alpine
    restart: always
    command: [ "redis-server", "--save", '""', "--appendonly", "no" ]
  core_postgres:
    image: postgres:13-alpine
    restart: always
    env_file: .env
    volumes:
      - ./core_data:/var/lib/postgresql/data
  core_web:
    image: "${CORE_IMAGE}"
    restart: always
    env_file: .env
    volumes:
      - ./core.py:/home/code/polar_bear/configs.py
      - ./licence.key:/home/code/licence.key
      - ./data:/home/code/data
      - /tmp:/tmp
    depends_on:
      - core_redis
      - core_postgres
      - go-ws
    ports:
      - 8001:8000
    command: "gunicorn polar_bear.wsgi -c gunicorn.conf.py"
  core_beat:
    image: "${CORE_IMAGE}"
    restart: always
    depends_on:
      - core_redis
      - core_postgres
      - go-ws
    env_file: .env
    volumes:
      - ./core.py:/home/code/polar_bear/configs.py
      - /tmp:/tmp
    command: "celery --app=polar_bear beat --loglevel=INFO"
  core_worker:
    image: "${CORE_IMAGE}"
    restart: always
    depends_on:
      - core_redis
      - core_postgres
      - go-ws
    env_file: .env
    volumes:
      - ./core.py:/home/code/polar_bear/configs.py
      - ./dicts:/home/code/dicts
      - ./data:/home/code/data
      - /tmp:/tmp
    command: "celery --app=polar_bear worker --loglevel=INFO --concurrency=6 --events --queues=celery"
